<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cours">
            <h2><span jhiTranslate="studentsMngmtApp.cours.detail.title">Cours</span> {{ cours.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="studentsMngmtApp.cours.nom">Nom</span></dt>
                <dd>
                    <span>{{ cours.nom }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.cours.description">Description</span></dt>
                <dd>
                    <span>{{ cours.description }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.cours.nbHeures">Nb Heures</span></dt>
                <dd>
                    <span>{{ cours.nbHeures }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.cours.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ cours.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.cours.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ cours.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.cours.module">Module</span></dt>
                <dd>
                    <div *ngIf="cours.module">
                        <a [routerLink]="['/module', cours.module?.id, 'view']">{{ cours.module?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cours', cours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
