<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="module">
            <h2><span jhiTranslate="studentsMngmtApp.module.detail.title">Module</span> {{ module.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="studentsMngmtApp.module.nom">Nom</span></dt>
                <dd>
                    <span>{{ module.nom }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.prefixe">Prefixe</span></dt>
                <dd>
                    <span>{{ module.prefixe }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.description">Description</span></dt>
                <dd>
                    <span>{{ module.description }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.dateDebut">Date Debut</span></dt>
                <dd>
                    <span>{{ module.dateDebut }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.dateFin">Date Fin</span></dt>
                <dd>
                    <span>{{ module.dateFin }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.filiere">Filiere</span></dt>
                <dd>
                    <div *ngIf="module.filiere">
                        <a [routerLink]="['/filiere', module.filiere?.id, 'view']">{{ module.filiere?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.module.semestre">Semestre</span></dt>
                <dd>
                    <div *ngIf="module.semestre">
                        <a [routerLink]="['/semestre', module.semestre?.id, 'view']">{{ module.semestre?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/module', module.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
