<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="filiere">
            <h2><span jhiTranslate="studentsMngmtApp.filiere.detail.title">Filiere</span> {{ filiere.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="studentsMngmtApp.filiere.nom">Nom</span></dt>
                <dd>
                    <span>{{ filiere.nom }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.filiere.prefixe">Prefixe</span></dt>
                <dd>
                    <span>{{ filiere.prefixe }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.filiere.description">Description</span></dt>
                <dd>
                    <span>{{ filiere.description }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.filiere.departement">Departement</span></dt>
                <dd>
                    <div *ngIf="filiere.departement">
                        <a [routerLink]="['/departement', filiere.departement?.id, 'view']">{{ filiere.departement?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/filiere', filiere.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
