<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="note">
            <h2><span jhiTranslate="studentsMngmtApp.note.detail.title">Note</span> {{ note.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="studentsMngmtApp.note.noteGrade">Note Grade</span></dt>
                <dd>
                    <span>{{ note.noteGrade }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.note.remarque">Remarque</span></dt>
                <dd>
                    <span>{{ note.remarque }}</span>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.note.module">Module</span></dt>
                <dd>
                    <div *ngIf="note.module">
                        <a [routerLink]="['/module', note.module?.id, 'view']">{{ note.module?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="studentsMngmtApp.note.user">User</span></dt>
                <dd>
                    {{ note.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/note', note.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
